body {
  background-color: #142d4c !important;
  color: #ececec !important;
  font-family: "Oswald" !important;
}

#search-form {
  margin: 20px auto 30px;
  text-align: right;
  display: block;
}

input {
  text-align: center;
  background-color: rgb(241, 240, 238);
  border: solid white 1px;
  line-height: 30px;
}

#search-input {
  width: 50%;
}

button {
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  color: #ececec;
}

#current-location {
  font-size: larger;
  display: inline;
  float: right;
}

#city {
  margin-top: 20px;
  position: relative;
  top: 20px;
  font-size: 50px;
  text-transform: capitalize;
}

#city,
#currentTemp {
  text-align: center;
}

#currentTemp {
  position: relative;
  top: 20px;
  font-size: 40px;
  padding: none;
}

#time {
  display: inline;
  float: left;
  font-size: 40px;
}

#icon {
  position: relative;
  left: 40%;
  bottom: 5%;
  width: 50%;
  image-rendering: optimizeQuality;
}

.row_height {
  height: fit-content;
}

.rainWind {
  position: relative;
  top: 20%;
  list-style: none;
  font-weight: bold;
  font-size: larger;
}

#description {
  text-transform: capitalize;
}

.days {
  text-align: center;
  margin-bottom: 40px;
}

.current {
  margin-bottom: 20px;
  line-height: 50px;
  background-image: url("https://images.pexels.com/photos/2080960/pexels-photo-2080960.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: 100%;
  text-shadow: #142d4c 2px 2px 5px;
  background-color: #81b4a8;
}

.card {
  border: solid #385170 !important;
  background-color: #81b4a8 !important;
  text-align: center;
  
}

/*.reload{
  display:block;
  position: static;
  float:right;
  margin-right: 10px;
  margin-bottom: 10px;

}*/

.icons {
  font-size: 400%;
}

#conversion {
  color: #ececec;
  text-decoration: none;
  padding-bottom: 30px;
}

#conversion:hover {
  color: #81b4a8;
  transition: 200ms ease-in;
  cursor: pointer;
}

#gitRepo {
  color: #ececec;
  text-decoration: none;
  float: right;
}

#gitRepo:hover {
  color: #81b4a8;
  transition: 200ms ease-in;
  cursor: pointer;
}

#by {
  position: absolute;
  left: 45%;
}